<div class="movie-form">
  <form *ngIf="movieForm" [formGroup]="movieForm" (submit)="submit()">
    <div class="field-container">
      <input type="file" (change)="setCover($event.target.files)" />
    </div>
    <div class="field-container">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" />
      </mat-form-field>
    </div>
    <div class="field-container">
      <mat-form-field>
        <mat-label>Available In:</mat-label>
        <mat-select formControlName="availableIn" multiple>
          <mat-option *ngFor="let item of languages" [value]="item">{{
            item.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="field-container">
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
    </div>
    <div class="field-container">
      <mat-form-field>
        <mat-label>Year:</mat-label>
        <mat-select formControlName="year">
          <mat-option [value]="1900">1900</mat-option>
          <mat-option [value]="1950">1950</mat-option>
          <mat-option [value]="2000">1950</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="field-container">
      <mat-form-field>
        <mat-label>Duration(Minutes)</mat-label>
        <input matInput formControlName="duration" />
      </mat-form-field>
    </div>
    <div class="field-container">
      <mat-form-field>
        <mat-label>Country:</mat-label>
        <mat-select multiple formControlName="countries">
          <mat-option *ngFor="let item of countries" [value]="item.code">{{
            item.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="field-container">
      <mat-form-field>
        <mat-label>Studio:</mat-label>
        <mat-select multiple formControlName="studios">
          <mat-option *ngFor="let item of studios" [value]="item.id">{{
            item.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="field-container">
      <mat-form-field>
        <mat-label>Director:</mat-label>
        <input matInput formControlName="director" />
      </mat-form-field>
    </div>
    <div class="field-container">
      <mat-form-field formGroupName="imdb">
        <mat-label>IMDB Rating:</mat-label>
        <input type="number" matInput formControlName="rating" />
      </mat-form-field>
    </div>

    <div class="field-container">
      <mat-form-field formGroupName="imdb">
        <mat-label>IMDB URL:</mat-label>
        <input matInput formControlName="url" />
      </mat-form-field>
    </div>
    <div class="form-footer">
      <button type="submit" mat-raised-button color="primary">Create</button>
      <button mat-raised-button (click)="cancel.emit()">Cancel</button>
    </div>
  </form>
</div>
