.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 500px;
  flex-wrap: wrap;
  justify-content: flex-start;

  .card {
    width: 250px;
    margin: 15px 15px 15px 0px;

    .image {
      width: 250px;
      height: 300px;
    }

    .footer {
      text-align: center;
    }
  }
}
