<div class="container">
  <mat-card class="card" *ngFor="let movie of movies">
    <mat-card-header class="header">
      <mat-card-title>{{ movie.title?.substring(0, 15) }}</mat-card-title>
      <mat-card-subtitle>
        year: {{ movie.year }}, duration: {{ movie.duration }} min
      </mat-card-subtitle>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-card-header>
    <mat-menu class="menu" #menu="matMenu">
      <button mat-menu-item (click)="onEdit(movie)">
        <mat-icon>edit</mat-icon>
        EDIT
      </button>
      <button mat-menu-item (click)="onViewDetails(movie)">
        <mat-icon>info</mat-icon>
        DETAILS
      </button>
      <button mat-menu-item (click)="onDelete(movie)">
        <mat-icon>delete</mat-icon>
        DELETE
      </button>
    </mat-menu>
    <img
      class="image"
      [src]="movie.cover | toImgSrc"
      mat-card-image
      [alt]="movie.title"
    />
    <mat-card-content>
      {{ movie.description?.substring(0, 100) }}...
    </mat-card-content>
    <mat-card-footer class="footer">
      <mat-card-subtitle>
        {{ movie.title?.substring(0, 50) }}
      </mat-card-subtitle>
    </mat-card-footer>
  </mat-card>
</div>
